<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="/css/styleProfile.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <title>Municipalidad</title><!--Titulo que aparece en la pestaña-->
</head>

<body>
    <header>
        <div class="Logo_UV">
            <img src="/img/logouv.png" alt="">
        </div>
        <div class="Logo_MSA">
            <img src="/img/logomsa.png" alt="">
        </div>
        <div class="Session">
            <a href="/login">Iniciar Sesion</a>
            <i class="fas fa-user"></i>
        </div>
        <div class = "column">
        <div class="Session">
            <a href="/consulta">Crear producto</a>     
        </div>
       
        <div class="Session">
            <a href="/emprendedor">Crear emprendedor</a> 
        </div>
        
        <div class="Session">
            <a href="/solicitud">Hacer solicitud</a>
        </div>
      
        <div class="Session">
            <a href="/contacto">Crear contacto</a>
        </div>
       
        <div class="Session">
            <a href="/logout">Cerrar sesion</a>
        </div>
        
    </header>
    <%var imagen =""%>
    <%var desc = ""%>
    <%var latitud = ""%>
    <%var longitud = ""%>
    <% for(var i = 0; i < datos3.length; i++){ %>
        <%if(datos3[i].activo==1){%> 
            <%imagen =datos3[i].logo%>
            <%desc = datos3[i].descripcion%>
            <%latitud = datos3[i].latitud%>
            <%longitud = datos3[i].longitud%>
            <% } %>
        <% } %>
    <section id="above-section">
        <div id="profile-details" class="display-case">
            <div id="details-title" class="displaycase-header">
                <h1> Perfil </h1>
            </div>
            <div id = "profile-content">
                <div id="profile-image">
                    <img src="/img/<%=imagen%>" alt="">
                </div>
                <div id="profile-description" class="subcase">
                    <h1><%=desc%></h1>
                </div>
            </div>
        </div>
        <div id="profile-map" class="display-case">
            <div id="map-title" class="displaycase-header">
                <h1>Localización</h1>
                <iframe src="https://maps.google.com/maps?q=<%=latitud%>, <%=longitud%>&output=embed" width="360" height="270" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </section>

    <section id="down-section">
        <div id="profile-contacts" class="display-case">
            <div id="details-title" class="displaycase-header">
                <h1> Contacto </h1>
            </div>

          <%var ins =""%>
          <%var wsp =""%>
          <%var tel =""%>
          <%var fcb =""%>
          <%var pw =""%>

          <% for(var i = 0; i < datos2.length; i++){ %>
            <%if(datos2[i].activo==1){%> 
            <%if(datos2[i].tipo_contacto=='Instagram'){%> 
                <%ins = datos2[i].contacto%>
                <% } %>
            <%if(datos2[i].tipo_contacto=='Facebook'){%> 
                <%fcb = datos2[i].contacto%>
                <% } %>
            <%if(datos2[i].tipo_contacto=='Telegram'){%> 
                <%tel = datos2[i].contacto%>
                <% } %>
            <%if(datos2[i].tipo_contacto=='Pagina web'){%> 
                <%pw = datos2[i].contacto%>
                <% } %>
            <%if(datos2[i].tipo_contacto=='Whatsapp'){%> 
                <%wsp = datos2[i].contacto%>
                <% } %>
                <% } %>
            <% } %>

            <div class="contact-box subcase"">
                <div class="contact-icon">
                    <img src="/img/wsp.jfif" alt="">
                </div>
                <div class="contact-text">
                    <h1> Whatsapp </h1>
                    <a><%=wsp%></a>
                </div>
            </div>
            <div class="contact-box subcase"">
                <div class="contact-icon">
                    <img src="/img/instagram.jfif" alt="">
                </div>
                <div class="contact-text">
                    <h1> Instagram </h1>
                    <a><%=ins%></a>
                </div>
            </div>
            <div class="contact-box subcase"">
                <div class="contact-icon">
                    <img src="/img/facebook.png" alt="">
                </div>
                <div class="contact-text">
                    <h1> Facebook </h1>
                    <a><%=fcb%></a>
                </div>
            </div>
            <div class="contact-box subcase">
                <div class="contact-icon">
                    <img src="/img/paginaWeb.png" alt="">
                </div>
                <div class="contact-text">
                    <h1> Página Web </h1>
                    <a><%=pw%></a>
                </div>
            </div>
            <div class="contact-box subcase"">
                <div class="contact-icon">
                    <img src="/img/telegram.jfif" alt="">
                </div>
                <div class="contact-text">
                    <h1> Telegram </h1>
                    <a><%=tel%></a>
                </div>
            </div>
        </div>

            <div id="products-box" class="display-case">
                <div id="faq-title" class="displaycase-header">
                    <h2>Productos</h2>
                </div>
                <div id="search-options">
                    <div id="search">
                        <div id="contentSearch">
                            <input type="text" id="mySearch" placeholder="Busque el producto">
                            <div id="suggestions">
                            </div>
                            <div id="iconSearch"><i class="fas fa-search" id="myButtonSearch"></i></div>
                        </div>
                    </div>
                    <div id="category">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="btn-dropdown">Categorias</button>
                            <div class="dropdown-menu" id="dropdown-menu"></div>
                        </div>
                    </div>
                </div>
                <div id="loadData">
                    <div id="dataCategory" hidden>
                        <% for(var i=0; i < cat.length; i++){ %>
                            <li><%= cat[i].nombre_cate %></li>
                        <% } %>
                    </div>
                </div>
                <div id="products">
                    <div class="row" id="row-products">
                        <div class="engine" id="engine">
                            <% for(var i = 0; i < datos.length; i++){ %>
                                <% if(datos[i].activo == 1){ %>
                                    <div class="col col-box" id="containerData">
                                        <div class="renderImage" id="renderImage">
                                            <% if(datos[i].imagen == ''){ %>
                                                <img src="/img/default.png" alt="">
                                            <% }else{ %>
                                                <img src="/img/<%= datos[i].imagen %>" alt="">
                                            <% } %>
                                        </div>
                                        <div class="desc-product" id="containerWhite">
                                            <a><%= datos[i].descripcion_produc %></a>
                                            <a><%= datos[i].precio %></a>
                                            <a type="button" class="btn-desc" href="/profile/<%= datos[i].nombre_usuario %>">ver mas</a>
                                        </div>
                                        <div class="title-product">
                                            <a><%= datos[i].nombre_producto %></a>
                                        </div>
                                        <div class="dataHidden" id="dataHidden" hidden>
                                            <a><%= datos[i].nombre_usuario %></a>
                                            <a><%= datos[i].activo %></a>
                                            <a><%= datos[i].fecha_publicacion %></a>
                                            <a><%= datos[i].id_producto %></a>
                                            <a><%= datos[i].nombre_cate %></a>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div id="new"></div>
                    </div>
                </div>
            </div>
    </section>

    <footer>
        <div class="Logo_UV">
            <img src="/img/logouv.png" alt="">
        </div>
        <div class="Logo_MSA">
            <img src="/img/logomsa.png" alt="">
        </div>
    </footer>
    
</body>

<script>
    const engine = document.getElementById("engine");
    const category = document.getElementById("dataCategory").getElementsByTagName("li");
    const dropdown_menu = document.getElementById("dropdown-menu");
    const btn_dropdown = document.getElementById("btn-dropdown");
    var dataProducts=[];
    var dataCategory=[];
    var arrayTemporary = [];
    function obtenerDataProduct(){
        arrayTemporary = [];
        for (let i = 0; i < engine.getElementsByTagName("a").length; i++) {
            if(engine.getElementsByTagName("a")[i].innerHTML != "ver mas"){
                arrayTemporary.push(engine.getElementsByTagName("a")[i].innerHTML);  
            }
            if((((i+1)%9)== 0) && (i != 0)){
                dataProducts.push(arrayTemporary);
                arrayTemporary = [];
            }
        }
    }
    function obtenerDataCategory(){
       for (let i = 0; i < category.length; i++) {
           dataCategory.push(category[i].innerHTML);       
       }
    }
    function fillCategory(){
        obtenerDataCategory();
        let page;
        for (let i = 0; i < dataCategory.length; i++) {
            if(i==0){
                page = '<li><a class="dropdown-item" id="'+dataCategory[i]+'" onclick="selectCategory(this)">'+dataCategory[i]+'</a></li>';
            }else{
                page = page +'<li><a class="dropdown-item" id="'+dataCategory[i]+'" onclick="selectCategory(this)">'+dataCategory[i]+'</a></li>';
            }    
        }
        dropdown_menu.innerHTML=page;     
    }
    fillCategory();
    obtenerDataProduct();
    const containerData = engine.getElementsByClassName("col col-box");
    var newDiv = document.getElementById("new");
    function selectCategory(element){
        let page="";
        let cont=0;
        let verificador=0;
        for (let i = 0; i < containerData.length; i++) {
            if(element.textContent.toLocaleLowerCase() == "categorias"){
                break;
            }else{
                if(containerData[i].outerHTML.search(element.textContent) != -1){
                    console.log(cont);
                    if(cont == 0){
                        page = containerData[i].outerHTML;
                    }else{
                        page = page + containerData[i].outerHTML;
                    }
                    cont++;
                }
                verificador=1;
            }
        }
        changeCategory = btn_dropdown.textContent;
        btn_dropdown.innerText = element.textContent;
        element.textContent = changeCategory;
        if(page == ""){
            page = '<h4>No hay elementos en esta categoria</h4>';
        }
        if(verificador==1){
            engine.style.visibility = 'hidden';
            newDiv.style.visibility = 'visible';
            newDiv.innerHTML="";
            newDiv.innerHTML=page;
        }else{
            engine.style.visibility = 'visible';
            newDiv.style.visibility = 'hidden';
            btn_dropdown.innerText = 'Categorias';
        }
    }

    const searchInput = document.getElementById("mySearch");
    const boxSearch = document.getElementById("contentSearch");
    const sugg = document.getElementById("suggestions");
    let namesProducts = [];
    for(let i=0; i < dataProducts.length; i++){
        namesProducts.push(dataProducts[i][2]);
    }
    searchInput.onkeyup = (e)=>{
        var textInput = e.target.value;
        let filterData = [];
        if(textInput){
            filterData = namesProducts.filter((filtered)=>{
                return filtered.toLocaleLowerCase().startsWith(textInput.toLocaleLowerCase());
            });
            filterData = filterData.map((filtered)=>{
                return data = '<li>'+filtered+'</li>';
            });
            boxSearch.classList.add("active"); 
            algo(filterData);
            let allList = sugg.querySelectorAll("li");
            for (let i = 0; i < allList.length; i++) {
                allList[i].setAttribute("onclick","select(this)");
            }  
        }else{
            boxSearch.classList.remove("active");
            newDiv.style.visibility = 'hidden';
            engine.style.visibility = 'visible';
        }
    }

    function select(element){
        let select = element.textContent;
        searchInput.value = select;
        boxSearch.classList.remove("active");
        let cont=0;
        let page;
        for (let i = 0; i < dataProducts.length; i++) {
            if(containerData[i].outerHTML.search(element.textContent) != -1){     
                if(cont == 0){
                        page = containerData[i].outerHTML;
                    }else{
                        page = page + containerData[i].outerHTML;
                    }
                    cont++;
            }
        }
        if(cont != 0){
            engine.style.visibility = 'hidden';
            newDiv.style.visibility = 'visible';
            newDiv.innerHTML="";
            console.log(page);
            newDiv.innerHTML=page;

        }
    }
    function algo(list){
        let listData;
        if(!list.length){
            listData = '<li>El producto que busca no existe</li>';
        }else{
            listData = list.join('');
        }
        sugg.innerHTML = listData;
    }
</script>
</html>