<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="/css/styleProfile.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--Icons-->
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <title>Municipalidad</title><!--Titulo que aparece en la pestaña-->
</head>

<body>
    <header>
        <div class="Logo_UV">
            <img src="/img/logouv.png" alt="">
        </div>
        <div class="Logo_MSA">
            <img src="/img/logomsa.png" alt="">
        </div>
        <div class="Session">
            <a href="/login">Iniciar Sesion</a>
            <i class="fas fa-user"></i>
        </div>
        <div class = "column">
        <div class="Session">
            <a href="/consulta">Crear producto</a>     
        </div>
       
        <div class="Session">
            <a href="/emprendedor">Crear emprendedor</a> 
        </div>
        
        <div class="Session">
            <a href="/solicitud">Hacer solicitud</a>
        </div>
      
        <div class="Session">
            <a href="/contacto">Crear contacto</a>
        </div>
       
        <div class="Session">
            <a href="/logout">Cerrar sesion</a>
        </div>
        
    </header>
    <%var imagen =""%>
    <%var desc = ""%>
    <% for(var i = 0; i < datos3.length; i++){ %>
        <%if(datos3[i].activo==1){%> 
            <%imagen =datos3[i].logo%>
            <%desc = datos3[i].descripcion%>
            <% } %>
        <% } %>
    <section id="above-section">
        <div id="profile-details" class="display-case">
            <div id="details-title" class="displaycase-header">
                <h1> Perfil </h1>
            </div>

            <div id="profile-image">
                <img src="/img/<%=imagen%>" alt="">
            </div>
            <div id="profile-description" class="subcase">
                <h1><%=desc%></h1>
            </div>

        </div>
    </section>

    <section id="down-section">
        <div id="profile-contacts" class="display-case">
            <div id="details-title" class="displaycase-header">
                <h1> Contacto </h1>
            </div>

          <%var ins =""%>
          <%var wsp =""%>
          <%var tel =""%>
          <%var fcb =""%>
          <%var pw =""%>
          <% for(var i = 0; i < datos2.length; i++){ %>
            <%if(datos2[i].activo==1){%> 
            <%if(datos2[i].tipo_contacto=='Instagram'){%> 
                <%ins = datos2[i].contacto%>
                <% } %>
            <%if(datos2[i].tipo_contacto=='Facebook'){%> 
                <%fcb = datos2[i].contacto%>
                <% } %>
            <%if(datos2[i].tipo_contacto=='Telegram'){%> 
                <%tel = datos2[i].contacto%>
                <% } %>
            <%if(datos2[i].tipo_contacto=='Pagina web'){%> 
                <%pw = datos2[i].contacto%>
                <% } %>
            <%if(datos2[i].tipo_contacto=='Whatsapp'){%> 
                <%wsp = datos2[i].contacto%>
                <% } %>
                <% } %>
            <% } %>
            <div class="contact-box subcase"">
                <div class="contact-icon">
                    <img src="/img/wsp.jfif" alt="">
                </div>
                <div class="contact-text">
                    <h1> Whatsapp </h1>
                    <a><%=wsp%></a>
                </div>
            </div>
            <div class="contact-box subcase"">
                <div class="contact-icon">
                    <img src="/img/instagram.jfif" alt="">
                </div>
                <div class="contact-text">
                    <h1> Instagram </h1>
                    <a><%=ins%></a>
                </div>
            </div>
            <div class="contact-box subcase"">
                <div class="contact-icon">
                    <img src="/img/facebook.png" alt="">
                </div>
                <div class="contact-text">
                    <h1> Facebook </h1>
                    <a><%=fcb%></a>
                </div>
            </div>
            <div class="contact-box subcase">
                <div class="contact-icon">
                    <img src="/img/paginaWeb.png" alt="">
                </div>
                <div class="contact-text">
                    <h1> Página Web </h1>
                    <a><%=pw%></a>
                </div>
            </div>
            <div class="contact-box subcase"">
                <div class="contact-icon">
                    <img src="/img/telegram.jfif" alt="">
                </div>
                <div class="contact-text">
                    <h1> Telegram </h1>
                    <a><%=tel%></a>
                </div>
            </div>
        </div>
        <section id="right">
            <div id="profile-products" class="display-case">
                <div id="faq-title" class="displaycase-header">
                    <h2>Productos</h2>
                </div>
                <div id="search-options">
                    <div id="search">
                        <div id="contentSearch">
                            <input type="text" id="mySearch" placeholder="Busque el producto">
                            <div id="suggestions">
                            </div>
                            <div id="iconSearch"><i class="fas fa-search" id="myButtonSearch"></i></div>
                        </div>
                    </div>
                    <div id="category">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="btn-dropdown">Categorias</button>
                            <div class="dropdown-menu" id="dropdown-menu"></div>
                        </div>
                    </div>
                </div>
                <!-- Carga de datos a la pagina web para no llamarlos a cada instante -->
                <div id="loadData">
                    <div id="dataProducts" hidden>
                        <% for(var i=0; i < datos.length; i++){ %>
                            <li><%= datos[i].nombre_usuario %></li>
                            <li><%= datos[i].activo %></li>
                            <li><%= datos[i].precio %></li>
                            <li><%= datos[i].nombre_producto %></li>
                            <li><%= datos[i].imagen %></li>
                            <li><%= datos[i].fecha_publicacion %></li>
                            <li><%= datos[i].id_producto %></li>
                            <li><%= datos[i].descripcion_produc %></li>
                            <li><%= datos[i].id_cate %></li>
                        <% } %>
                    </div>
                    <div id="dataCategory" hidden>
                        <% for(var i=0; i < cat.length; i++){ %>
                            <li><%= cat[i].nombre_cate %></li>
                            <li><%= cat[i].id_cate %></li>
                        <% } %>
                    </div>
                </div>
                <!-- **************************************************************** -->
                <!-- Mostrar todos los productos con javascript -->
                <div id="products">
                    <div class="row" id="row-products">
    
                    </div>
                </div>
                <!-- ****************************************** -->
            </div>
        </section>
    </section>

    <footer>
        <div class="Logo_UV">
            <img src="/img/logouv.png" alt="">
        </div>
        <div class="Logo_MSA">
            <img src="/img/logomsa.png" alt="">
        </div>
    </footer>
    
</body>

<script>
    // Seccion para visualizar los datos de los productos ***********************************************************************************************
    const products = document.getElementById("dataProducts");
    const category = document.getElementById("dataCategory");
    let sectionProducts = document.getElementById("row-products");
    var dataProducts = [];
    var dataCategory = [];

    function productsToShow(){
        let cont = 0;
        let arrayTemporary = [];
        for(let i=0; i < products.getElementsByTagName("li").length; i++){
            arrayTemporary[cont] = products.getElementsByTagName("li")[i].innerText;
            cont++;
            if(cont == 9){
                dataProducts.push(arrayTemporary);
                arrayTemporary = [];
                cont=0;
            }
        }
    }

    productsToShow();
    //<a type="button" class="btn-desc" href="'+dataProducts[i][6]+'">ver mas</a>
    

    function showProducts(){
        sectionProducts.innerHTML='';
        let page=[];
        let pageTemporary = [];
        let pageEnd;
        console.log(dataProducts);
        for(let i=0; i< dataProducts.length; i++){
            pageTemporary.push('<div class="col col-box">')
            if(dataProducts[i][1] == 1){//para saber si esta activo o no
                if(dataProducts[i][4] == ""){
                    pageTemporary.push('<img src="/img/default.png" alt="">');
                    pageTemporary.push('<div class="desc-product"><p>'+dataProducts[i][7]+'</p><a>'+dataProducts[i][2]+'</a><a type="button" class="btn-desc" href="/profile/'+dataProducts[i][0]+'">ver mas</a></div>');
                    pageTemporary.push('<div class="title-product" id="title-product"><a>'+dataProducts[i][3]+'</a></div>');                     
                }else{
                    pageTemporary.push('<img src="/img/'+dataProducts[i][4]+'" alt="">');
                    pageTemporary.push('<div class="desc-product"><p>'+dataProducts[i][7]+'</p><a>'+dataProducts[i][2]+'</a><a type="button" class="btn-desc" href="/profile/'+dataProducts[i][0]+'">ver mas</a></div>');
                    pageTemporary.push('<div class="title-product" id="title-product"><a>'+dataProducts[i][3]+'</a></div>');
                }
            }
            pageTemporary.push('</div>')
            page.push(pageTemporary);
            pageTemporary = [];
        }
        for (let i = 0; i < page.length; i++) {
            if(i==0){
                pageEnd = page[i][0]+page[i][1]+page[i][2]+page[i][3]+page[i][4];
            }else{
                pageEnd = pageEnd+page[i][0]+page[i][1]+page[i][2]+page[i][3]+page[i][4];
            }
        }
        sectionProducts.innerHTML=pageEnd;

    }
    showProducts();
    // Seccion para visualizar los datos de los productos ***********************************************************************************************
    
    
    
    //Seccion para hacer funcionar la busqueda *******************************************************************************************
    const searchInput = document.getElementById("mySearch");
    const boxSearch = document.getElementById("contentSearch");
    const sugg = document.getElementById("suggestions");
    let namesProducts = [];
    for(let i=0; i < dataProducts.length; i++){
        namesProducts.push(dataProducts[i][3]);
    }

    searchInput.onkeyup = (e)=>{
        var textInput = e.target.value;
        let filterData = [];
        if(textInput){
            filterData = namesProducts.filter((filtered)=>{
                return filtered.toLocaleLowerCase().startsWith(textInput.toLocaleLowerCase());
            });
            filterData = filterData.map((filtered)=>{
                return data = '<li>'+filtered+'</li>';
            });
            boxSearch.classList.add("active"); 
            algo(filterData);
            let allList = sugg.querySelectorAll("li");
            for (let i = 0; i < allList.length; i++) {
                allList[i].setAttribute("onclick","select(this)");
            }  
        }else{
            boxSearch.classList.remove("active");
            showProducts();
        }
    }

    function select(element){
        let select = element.textContent;
        searchInput.value = select;
        boxSearch.classList.remove("active");
        for (let i = 0; i < dataProducts.length; i++) {
            if(dataProducts[i][3] == select){
                sectionProducts.innerHTML='';
                let page=[];
                let pageEnd;
                page.push('<div class="col col-box">')
                if(dataProducts[i][1] == 1){//para saber si esta activo o no
                    if(dataProducts[i][4] == ""){
                        page.push('<img src="/img/default.png" alt="">');
                        page.push('<div class="desc-product"><p>'+dataProducts[i][7]+'</p><a>'+dataProducts[i][2]+'</a><a type="button" class="btn-desc" href="/profile/'+dataProducts[i][0]+'">ver mas</a></div>');
                        page.push('<div class="title-product" id="title-product"><a>'+dataProducts[i][3]+'</a></div>');                     
                    }else{
                        page.push('<img src="/img/'+dataProducts[i][4]+'" alt="">');
                        page.push('<div class="desc-product"><p>'+dataProducts[i][7]+'</p><a>'+dataProducts[i][2]+'</a><a type="button" class="btn-desc" href="/profile/'+dataProducts[i][0]+'">ver mas</a></div>');
                        page.push('<div class="title-product" id="title-product"><a>'+dataProducts[i][3]+'</a></div>');
                    }
                }
                page.push('</div>');
                pageEnd = page[0]+page[1]+page[2]+page[3]+page[4];
                sectionProducts.innerHTML=pageEnd;
            }
        }
    }
    function algo(list){
        let listData;
        if(!list.length){
            listData = '<li>El producto que busca no existe</li>';
        }else{
            listData = list.join('');
        }
        sugg.innerHTML = listData;
    }
    //Seccion para hacer funcionar la busqueda *******************************************************************************************


    //seccion para hacer funcionar categorias
    const dropdownMenu = document.getElementById("dropdown-menu");
    const dropdownBtn = document.getElementById("btn-dropdown");

    function filteredCategory(){
        let cont = 0;
        let arrayTemporary = [];
        for (let i = 0; i < category.getElementsByTagName("li").length; i++) {
            cont++;
            arrayTemporary.push(category.getElementsByTagName("li")[i].innerText);
            if((cont%2) == 0){
                dataCategory.push(arrayTemporary);
                arrayTemporary=[];
            }  
        }
        console.log(dataCategory);
    }
    filteredCategory();

    function fillCategory(){
        let page;
        for (let i = 0; i < dataCategory.length; i++) {
            if(i==0){
                page = '<li><a class="dropdown-item" id="'+dataCategory[i][1]+'" onclick="selectCategory(this)">'+dataCategory[i][0]+'</a></li>';
            }else{
                page = page +'<li><a class="dropdown-item" id="'+dataCategory[i][1]+'" onclick="selectCategory(this)">'+dataCategory[i][0]+'</a></li>';
            }    
        }
        dropdownMenu.innerHTML=page;
        console.log(page);     
    }
    fillCategory();

    function selectCategory(element){
        if(element.textContent.toLocaleLowerCase() == 'categorias'){
            showProducts();
            change = dropdownBtn.innerText;
            dropdownBtn.innerText = element.textContent;
            element.textContent = change;
        }else{
            let change;
            let arrayProducts = [];
        for (let i = 0; i < dataProducts.length; i++) {
            if(dataProducts[i][8] == element.id){
                arrayProducts.push(dataProducts[i]);
            }
        }
        sectionProducts.innerHTML='';
        let page=[];
        let pageTemporary = [];
        let pageEnd;
        for(let i=0; i< arrayProducts.length; i++){
            pageTemporary.push('<div class="col col-box">')
            if(arrayProducts[i][1] == 1){//para saber si esta activo o no
                if(arrayProducts[i][4] == ""){
                    pageTemporary.push('<img src="/img/default.png" alt="">');
                    pageTemporary.push('<div class="desc-product"><p>'+arrayProducts[i][7]+'</p><a>'+arrayProducts[i][2]+'</a><a type="button" class="btn-desc" href="/profile/'+arrayProducts[i][0]+'">ver mas</a></div>');
                    pageTemporary.push('<div class="title-product" id="title-product"><a>'+arrayProducts[i][3]+'</a></div>');                     
                }else{
                    pageTemporary.push('<img src="/img/'+arrayProducts[i][4]+'" alt="">');
                    pageTemporary.push('<div class="desc-product"><p>'+arrayProducts[i][7]+'</p><a>'+arrayProducts[i][2]+'</a><a type="button" class="btn-desc" href="/profile/'+arrayProducts[i][0]+'">ver mas</a></div>');
                    pageTemporary.push('<div class="title-product" id="title-product"><a>'+arrayProducts[i][3]+'</a></div>');
                }
            }
            pageTemporary.push('</div>')
            page.push(pageTemporary);
            pageTemporary = [];
        }
        for (let i = 0; i < page.length; i++) {
            if(i==0){
                pageEnd = page[i][0]+page[i][1]+page[i][2]+page[i][3]+page[i][4];
            }else{
                pageEnd = pageEnd+page[i][0]+page[i][1]+page[i][2]+page[i][3]+page[i][4];
            }
        }
        sectionProducts.innerHTML=pageEnd;
        change = dropdownBtn.innerText;
        dropdownBtn.innerText = element.textContent;
        element.textContent = change;
        }
    }
</script>
</html>